#latest_container
  %h2 Smittede denne måneden
  %table#latest.tablesorter
    %thead
      %tr
        %th Fylke
        %th Menn
        %th Kvinner
        %th Ukjent
        %th Total
    %tbody
      - @latest.each do |@d|
        %tr
          %td=@d[:county]
          %td=@d[:male]
          %td=@d[:female]
          %td=@d[:unknown]
          %td=@d[:female] + @d[:male] + @d[:unknown]
    %tfooter
      %tr
        %td Total
        %td=@total[:latest_m]
        %td=@total[:latest_f]
        %td=@total[:latest_u]
        %td=@total[:latest_f] + @total[:latest_m] + @total[:latest_u]
#all_container
  %h2 Smittede totalt
  %table#all.tablesorter
    %thead
      %tr
        %th Fylke
        %th Menn
        %th Kvinner
        %th Ukjent
        %th Total
    %tbody
      - @all.each do |@d|
        %tr
          %td=@d[:county]
          %td=@d[:male]
          %td=@d[:female]
          %td=@d[:unknown]
          %td=@d[:female] + @d[:male] + @d[:unknown]
    %tfooter
      %tr
        %td Total
        %td=@total[:all_m]
        %td=@total[:all_f]
        %td=@total[:all_u]
        %td=@total[:all_f] + @total[:all_m] + @total[:all_u]
