#stats
  %h2 Smittede denne måneden
  %table#latest.tablesorter
    %thead
      %tr
        %th Fylke
        %th Menn
        %th Kvinner
    %tbody
      - @data.each do |@d|
        %tr
          %td=@d[:county]
          %td=@d[:male]
          %td=@d[:female]
