!!!
%html
  %head
    %title Svineinfluensa i Norge
    %link{:rel=>'stylesheet',:type=>'text/css',:href=>'/tablesorter/blue/style.css'}
    %link{:rel=>'stylesheet',:type=>'text/css',:href=>'/style.css'}
    %script{:type=>'text/javascript',:src=>'/jquery.js'}
    %script{:type=>'text/javascript',:src=>'/tablesorter/jquery.tablesorter.min.js'}
    %script{:type=>'text/javascript',:src=>'/h1n1.js'}
  %body
    #main
      #header
        %h1 Svineinfluensa i Norge
      #content
        #api
          %p
            Du kan hente månedsstatistikk over H1N1-spredning i Norge ved å bruke følgede URL-skjema:
            http://h1n1.raymondjulin.com/&lt;år&gt;/&lt;måned&gt;. Eksempel:
            %a{:href=>'/2009/7',:title=>'Se juli-statistikk'} http://h1n1.raymondjulin.com/2009/7
          %p
            Det er også mulig å få rapport for et enkeltfylke ved å bruke /fylke:
            %a{:href=>'/Oslo',:title=>'Se Oslo-statistikk'} http://h1n1.raymondjulin.com/Oslo
          %p
            Sist oppdatert 
            =@updated.created
            All data leveres i JSON-format.
        =yield
      #footer
        %p 
          All data er hentet fra
          %a{:href=>'http://www.msis.no',:title=>'MSIS.no'} MSIS
          (Meldingssystem for smittsomme sykdommer).
